*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 100; }
  .heading-primary--span {
    padding: 3.5rem 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    box-decoration-break: clone; }

.u-center-text {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-med {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mt-small {
  margin-top: 1.5rem; }

.u-mt-med {
  margin-top: 4rem; }

.u-mt-big {
  margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  color: #777;
  background-color: #fff;
  border-radius: 10rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a;
  border-radius: 10rem; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom 0.8s 1s backwards ease-out; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px #55c57a solid;
  padding: 3px;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  height: 40rem;
  width: 60%;
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: 1rem;
  float: right;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.8);
  padding: 3rem; }
  .card__text {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    hyphens: auto; }

.contact {
  background-color: transparent;
  width: 85%;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: start; }
  .contact:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .contact__details {
    display: inline-block;
    text-overflow: ellipsis; }
  .contact__img {
    border: 2px solid #fff;
    border-radius: 50rem;
    height: 6rem;
    width: 6rem;
    display: inline;
    margin-right: 1rem; }
  .contact__name {
    display: inline-block;
    font-size: 1.6rem; }
  .contact__message {
    font-size: 1.4rem;
    text-overflow: clip; }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #eee;
  height: 62rem;
  width: 37%;
  border-radius: 1rem;
  padding: 2rem 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  transition: all 0.5s; }
  .form__group {
    margin-bottom: 2rem; }
  .form__input {
    border: none;
    border-bottom: 3px white solid;
    border-radius: 3px;
    font-family: Lato;
    font-size: 1.6rem;
    height: 4rem;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-bottom: 3px solid transparent; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border: none;
      border-bottom: 3px solid #ff7730; }
  .form__label {
    font-size: 2rem;
    color: #777;
    font-weight: 400;
    display: block; }
  .form__close {
    font-size: 3rem;
    color: #777;
    font-weight: 700;
    float: right;
    text-decoration: none;
    margin-bottom: 3rem; }
    .form__close:hover {
      color: #55c57a; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    .row [class^="col-"]::after {
      content: "";
      clear: both;
      display: table; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 12rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 18rem) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 18rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 18rem) / 4) * 3 + 6rem* 2); }

.header {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0.2), rgba(238, 238, 238, 0.3)), url(../img/header-background.jpg);
  background-size: cover;
  color: #f7f7f7;
  position: relative; }
  .header__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6); }

.chat-section {
  height: 100vh;
  width: 100%;
  background-color: #fff; }

.chat {
  height: 100%;
  width: 100%;
  display: table; }
  .chat__left {
    display: table-cell;
    width: 33.33333333%;
    background-color: #7ed56f;
    position: relative; }
  .chat__right {
    display: table-cell;
    width: 66.6666666667%;
    position: relative; }
  .chat__left-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 85%; }
  .chat__back-icon {
    text-decoration: none;
    color: #7ed56f;
    background-color: rgba(255, 255, 255, 0.9);
    height: 10rem;
    width: 10rem;
    padding: 1rem 1.5rem;
    border-radius: 100%;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
  .chat__search-container {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    width: 83%; }
  .chat__search {
    width: 85%;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: #777;
    font-style: Lato;
    font-size: 1.4rem;
    font-weight: 400; }
  .chat__search-icon:link, .chat__search-icon:visited {
    color: #7ed56f;
    font-size: 2rem; }
  .chat__search-icon:active {
    color: #7ed56f; }
  .chat__search-icon:hover {
    color: #7ed56f; }
  .chat__members-container {
    background-color: rgba(255, 255, 255, 0.9);
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    overflow: auto; }
    .chat__members-container::-webkit-scrollbar {
      width: 20px; }
    .chat__members-container ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px re;
      border-radius: 10px; }
    .chat__members-container::-webkit-scrollbar-thumb {
      background: red;
      border-radius: 10px; }
    .chat__members-container::-webkit-scrollbar-thumb:hover {
      background: #36383a; }
  .chat__options {
    color: #7ed56f;
    height: 8rem;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15); }
  .chat__message {
    border-top: 1px solid #eee;
    box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    padding: 1rem 3rem;
    display: flex; }
  .chat__message-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 55px;
    width: 80%;
    height: 90%;
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
  .chat__input {
    height: 90%;
    width: 70%;
    margin: 0.5rem 1rem;
    padding: 1rem;
    border: none;
    font-family: Lato;
    font-size: 1.6rem;
    box-shadow: none;
    color: #777;
    resize: none;
    outline: none; }
  .chat__icon-container {
    display: flex;
    font-size: 2.2rem;
    padding: 0.5rem;
    text-align: center;
    width: 25%;
    justify-content: space-evenly;
    float: right; }
    .chat__icon-container a:link,
    .chat__icon-container a:visited {
      text-decoration: none;
      color: #7ed56f; }
    .chat__icon-container a:hover {
      color: #55c57a; }
    .chat__icon-container a:active {
      color: #55c57a; }
  .chat__send-icon:link, .chat__send-icon:visited {
    font-size: 2.2rem;
    padding: 1rem 2rem;
    min-width: 20%;
    min-width: 5rem;
    float: right;
    margin-left: 3rem;
    background-color: #7ed56f;
    border-radius: 50rem;
    color: #fff;
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.2);
    text-decoration: none; }
  .chat__send-icon:hover {
    background-color: #55c57a; }
  .chat__send-icon:active {
    background-color: #55c57a;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); }
  .chat .contact {
    height: 10rem; }

.section-form {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s; }
  .section-form:target {
    opacity: 1;
    visibility: visible; }
  .section-form:target .form {
    transform: translate(-50%, -50%) scale(1); }
